PROJECT_NAME=argos
GRAPH_PORT=8888
GRAPH_DEBUG_PORT=9229
ROOT_URI=https://root.new-aks-stage.linnovate.net
DASHBOARD_PORT=3000
# PORT=8888
# DASHBOARD_PORT=3000
# PROJECT_NAME=argos
# ROOT_URI=http://localhost:3000
# ROOT_TOKEN=eyJhbGciOiJIUzI1NiJ9.JTdCJTIyX2lkJTIyOiUyMjYwZmU4MTM3OWNjMTU4NmUxOThkODdiYiUyMiwlMjJ1aWQlMjI6JTIyNmJiMDZlYTAtZWRmNC0xMWViLWJhOWMtNzVhNzk5YmZkYTMzJTIyLCUyMmlkJTIyOiUyMnRlc3RAbGlubm92YXRlLm5ldCUyMiwlMjJ1c2VybmFtZSUyMjolMjJsaW9yJTIyLCUyMm5hbWUlMjI6JTIybGlvciUyMiwlMjJlbWFpbCUyMjolMjJ0ZXN0QGxpbm5vdmF0ZS5uZXQlMjIsJTIyX192JTIyOjAsJTIyR2V0TWFpbEV2ZXJ5RGF5QWJvdXRHaXZlblRhc2tzJTIyOiUyMm5vJTIyLCUyMkdldE1haWxFdmVyeURheUFib3V0TXlUYXNrcyUyMjolMjJubyUyMiwlMjJHZXRNYWlsRXZlcnlXZWVrQWJvdXRHaXZlblRhc2tzJTIyOiUyMm5vJTIyLCUyMkdldE1haWxFdmVyeVdlZWtBYm91dE15VGFza3MlMjI6JTIybm8lMjIsJTIycHJvdmlkZXIlMjI6JTIybG9jYWwlMjIsJTIycm9sZXMlMjI6JTVCJTIyYXV0aGVudGljYXRlZCUyMiU1RCU3RA.kHHiw6_OVCS1esL4imxjt0XHtUlM_3PsHxKGYFWY5oo
